.navbar-nav {
  float: right;
}

/* Toggle switch */
/* The switch - the box around the slider */
.switch {
  /*position: relative;*/
  display: inline-block;
  height: 20px;
  margin-top: 5px; /*for main switch*/
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: #464646;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7cc7ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(43px);
  -ms-transform: translateX(43px);
  transform: translateX(43px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch.large-switch {
  float: right;
  margin-right: 20px;
  position: fixed;
  width: 65.225px;
}

#my-tools-switch {
  float: right;
  margin-right: 10px;
}

/* xsmall switch*/
.switch.switch-xs input[type="checkbox"]:checked + span,
.switch-inline.switch-sm input[type="checkbox"]:checked + span {
  padding-left: 36px; }

.switch.switch-xs input[type="checkbox"] + span,
.switch-inline.switch-xs input[type="checkbox"] + span {
  height: 16px;
  width: 50px;
  padding: 0;
  transition: padding 0.3s ease, background 0.3s ease; }
  .switch.switch-xs input[type="checkbox"] + span::before,
  .switch-inline.switch-xs input[type="checkbox"] + span::before {
    line-height: 14px;
    font-size: 14px; }
  .switch.switch-xs input[type="checkbox"] + span::after,
  .switch-inline.switch-xs input[type="checkbox"] + span::after {
    width: 10px;
    height: 10px;
    margin-left: 2px; }

  .glyphicon, .checkbox input[type="checkbox"] + span::after,
  .checkbox-inline input[type="checkbox"] + span::after, .switch input[type="checkbox"] + span,
  .switch-inline input[type="checkbox"] + span, .breadcrumb > li + li:before, .alert:before, .alert-dismissable .close:before,
  .alert-dismissible .close:before {
    font-family: "UX1 Glyphicons";
    font-size: 10px;
    color: #777677; }

#ibm-logo {
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 20px;
  fill: #c7c7c7;
}

#close-my-tools-btn {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

#close-my-tools-btn:hover {
  cursor: pointer;
}

svg {
  fill: #ffffff;
  vertical-align: middle;
}

#header svg {
  fill: #c7c7c7;
}

.more-icon {
  float: right;
}

#title {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding:
}

#hamburger {
  margin-left: 12px;
}

body
{


}

.side-nav {
  background: #464646;
  width: 280px;
  position: fixed;
  top: 45px;
  height: 100%;
  color: #ffffff;
}

.sidebar-nav ul, ol {
  margin: 0;
}

.sidebar-nav {
  margin: 50px 0 0 0;
  height: 850px;
  bottom: 0;
  overflow-y: scroll;
  /*padding-left: 20px;*/
}



#ubx-menu-item {
  border-left: 3px solid #7cc7ff;
}

.my-tools-btn {
  background: #464646;
  background: #5a5a5a;
  width: 280px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height: 44px;
  font-size: 14px;
  /*position: relative:*/
  /*margin: 10px;*/
  z-index: 100;
  position: fixed;
}

.my-tools-btn span {
  line-height: 44px;
  margin: 10px;
}

.my-tools-btn:hover {
  cursor: pointer;
  background: #4178BE;
}

.my-tools-btn.active {
  background: #4178BE;
  width: 280px;
  /*margin: 0;*/
}

.my-tools-header {
  /*border-bottom: 1px solid #5a5a5a;*/
  height: 50px;
  width: 999px;
  position: fixed;
  z-index: 100;
  background: #464646;
  padding: 10px;
}

.my-tools-container {
  width: 1000px;
  height: auto;
  background: #464646;
  position: fixed;
  bottom: 0;
  left: 280px;
  top: 45px;
  border-left: 1px solid #5a5a5a;
  visibility: hidden;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0.;
  transition: visibility 0s 0s;
  overflow-y: scroll;
  overflow-x: hidden;
}


.my-tools-container.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility: 0s 0s;
  transition: visibility 0s 0s;
}

.offering-tile {
  background: #5a5a5a;
  /*margin: 20px;*/
  padding: 20px 20px 0 20px;
  font-size: 13px;
  overflow: hidden;
  color: #ffffff;
}

.offering-tile-header {
  /*color: #ffffff;
  padding: 1px;
  padding-left: 12px;
  border-left: 3px solid #7cc7ff;
  margin-bottom: 20px;*/
}

.offering-tile-header h4 {
  font-size: 20px;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 15px;
  font-weight: 400;
}

.bar {
  float: left;
  width: 3px;
  height: 55px;
  margin-right: 10px;
}

.blue {
  background: #7cc7ff;
}

.purple {
  background: #d7aaff;
}

.green {
  background: #b4e051;
}

.orange {
  background: #ffa573;
}

.yellow {
  background: #fde876;
}

.wrapper {
  margin: 20px;
}

#ubx-container {
  /*height: 190.5px;*/
  width: 470px;
  height: auto;
}

#wca-container {
  /*height: 895px;*/
  width: 470px;
  height: auto;
}

#cxa-container {
  /*height: 175px;*/
  width: 470px;
  height: auto;
}

#realtime-container {
  /*height: 220px;*/
  width: 470px;
  height: auto;
}

#mi-container {
  /*height: 335px;*/
  width: 470px;
  height: auto;
}

.basic-edition {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 103px;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-top: 5px;
}

.open-link {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 11px;
  width: 68px;
  float: right;
  cursor: pointer;
}

.open-link:hover {
  background: #ffffff;
  color: #5a5a5a;
}

.upgrade-link {
  border: 1px solid #c0e6ff;
  color: #c0e6ff;
  border-radius: 50px;
  text-align: center;
  font-size: 11px;
  width: 121px;
  float: right;
  cursor: pointer;
}

.upgrade-link:hover {
  background: #c0e6ff;
  color: #5a5a5a;
}

.side-nav .nav-item a {
    color: #c7c7c7;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;

}

#watson-marketing-tools {
  visibility: hidden;
}

#watson-marketing-tools.is-visible {
  visibility: visible;
}

/*.nav-item {
    background: #464646;

}*/

#ubx-btn {
  display: block;
  border-left: 3px solid #fde876;
}

#ubx-btn.is-visible {
  display: none;
}

.show-sections {
  width: 470px;
  height: 30px;
  background: #777677;
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  vertical-align: middle;
  line-height: 30px;
  margin-left: -20px;
  /*padding-left: 20px;*/
}

#ubx-addon-wrapper, #wca-addon-wrapper, #realtime-addon-wrapper, #mi-addon-wrapper, #cxa-addon-wrapper {
  display: none;
}

#mi-section-wrapper, #realtime-section-wrapper {
  display: none;
}

/*Overriden bootstrap components*/

.navbar-brand {
    height: 45px;
}

.nav-tabs > li > a,
    .nav-tabs > li > h3 a {
      color: #aeaeae;
      padding-bottom: 2px;
      font-weight: 300;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
   .nav-tabs > li.active > h3 a,
   .nav-tabs > li.active > h3 a:hover,
   .nav-tabs > li.active > h3 a:focus {
     border-bottom: 3px solid #7cc7ff; }
   .nav-tabs > li.active > a:focus,
   .nav-tabs > li.active > h3 a:focus {
     color: #4178BE; }
   .nav-tabs > li[dropdown] > a:after {
     content: "";
     margin-left: 8px; }
   .nav-tabs > li[dropdown].open > a:after {
     content: ""; }

hr {
  border-top: 1px solid #777677;
  margin-bottom: 10px;
  margin-top: 0;
}


.switch {
  margin-bottom: 20px;
}

.switch label {
  color: #ffffff;
  font-weight: bold;
}

td .switch {
  margin: 8px;
}

.switch input[type="checkbox"]:checked + span,
.switch-inline input[type="checkbox"]:checked + span {
  padding-left: 38px;
  background: #323232; }

.switch input[type="checkbox"] + span::after,
.switch-inline input[type="checkbox"] + span::after {
  background: #7CC7FF; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.nav-tabs > li.active > h3 a,
.nav-tabs > li.active > h3 a:hover,
.nav-tabs > li.active > h3 a:focus {
    padding-bottom: 2px;
    font-size: 15px;
  }

.col-lg-6 {
  width: 490px;
}

.nav-tabs {
  padding-left: 0;
}

.nav-tabs > li:first-child {
     margin-left: 0px;
     }

table {
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
  margin-top: 20px;
}

table  > th {
  font-size: 14px;
  font-weight: bold;
}

.dropdown a {
  color: #c7c7c7;
  font-weight: 700;
  font-size: 12px;
  border-bottom: 1px solid #5a5a5a;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-bottom: 1px solid #5a5a5a;
}

.dropdown-menu {
  box-shadow: none;
  background-color: #464646;
  position: relative;
  width: 100%;
  overflow-y: visible;
  height: auto;
  max-height: none;
  z-index: 99;
  left: -3px;
  border-left: 3px solid #fde876;
}

.dropdown-menu > li > a {
  color: #ffffff;
  font-size: 15px;
  border-bottom: none;
}

.dropdown-menu > li > a:hover {
  background: #464646;
}
